accelerate>=0.26.0
autopep8==2.3.1
black==24.10.0
botocore==1.35.98
datasets==3.2.0
diskcache==5.6.3
graphviz==0.20.3
httpx==0.28.1
ipython==8.12.3
langchain_aws==0.2.10
langchain_core==0.3.29
numpy==1.26.4
pandas==2.2.3
Pillow==10.4.0
platformdirs==4.3.6
protobuf==5.29.3
python-dotenv==1.0.1
python_Levenshtein==0.26.1
Requests==2.32.3
setuptools==75.1.0
tenacity==9.0.0
torch==2.4.0
tqdm==4.67.1
transformers==4.48.0
vllm==0.6.3